<div class="grid gap-4 md:grid-cols-3 grid-cols-1 mb-6">
    <app-card *ngFor="let card of cards" [title]="card.title" [count]="card.count"[bgColor]="card.bgColor">
    </app-card>
</div>

<div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold">Recent Tickets</h2>
    <div class="flex items-center gap-4">
        <button (click)="prevPage()" [disabled]="currentPage === 1" class="px-2 py-1 text-gray-500 hover:text-black" title="Previous">
            <i class="fa-solid fa-angle-left"></i>
        </button>
        <p class="text-sm text-gray-600">Page {{ currentPage }} of {{ totalPages }}</p>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="px-2 py-1 text-gray-500 hover:text-black" title="Next">
            <i class="fa-solid fa-angle-right"></i>
        </button>
        <button (click)="viewMore()" class="text-sm bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-all ml-2">View More</button>

    </div>
</div>

<div class="space-y-4">
    <div *ngFor="let item of paginatedHistory; let i=index" class="flex justify-between items-center p-4 bg-white rounded shadow-md">
        <p class="font-medium">{{item.name}}</p>
        <div class="flex items-center gap-4">
            <span class="text-xs font-bold px-6 py-1 rounded-full" [ngClass]="{
                'bg-green-200 text-green-800': item.status === 'Open',
                'bg-red-200 text-red-800': item.status === 'Closed',
                'bg-yellow-200 text-yellow-800': item.status === 'Pending'
                }">
                {{item.status}}
            </span>
            <div class="relative">
                <button class="text-lg" (click)="toggleMenu(i)">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
                <div class="absolute right-0 mt-2 w-32 bg-white border border=gray-300 rounded shadow-md z-10" *ngIf="openMenuIndex === i">
                    <button class="block w-full px-4 py-2 text-left text-sm text-red-600 hover:bg-gray-100" (click)="deleteHistory(i)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>